@charset "utf-8";
/* CSS Document */
.mediaimg img{
	margin:0 10px;
	float:left;
	
}
.mediaimg{
	overflow:auto;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
}
.popup {
	background-color: #fff;
	left: 50%;
	opacity: 0;
	max-width: 90vh;
	max-height:50vh;
	position: fixed;
	overflow:scroll;
	top: 50%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 2px;
}

.pdd_num{
font-weight:bolder;
}
#popuptext{
	padding:5px;
	font-size:0.7em;
}
#popuptext p{
	
}
.punkt_znak{
	float:left;
	margin:10px;
}