.navig{
    border-top: 1px #CCCCCC solid;
    text-align: center;
    clear: both;
}
.navig a, .navig span{
    margin:0.2em;
}
.newsText{
    font-size: 0.8em;
    padding-bottom: 10px;
}
.newsPost{
    padding:5px 5px 5px 10px;
    background:#FFFFFF;
    -webkit-box-shadow: 0 0 2px 0 #999;
    box-shadow: 0 0 2px 0 #999;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border:solid 1px #999;
    margin:0 0 5px 0 ;
    overflow: auto;
    position: relative;
}
.dateNews{
    font-size: 0.8em;
    color: #009900;
    position: absolute;
    right:5px;
    bottom: 5px;
}
.newsText img{
    float:left;
    margin: 5px 10px 5px 0;
}
.newsText p{
    font-size: 0.8em;
    
}
.redac{
    color: #009900;
    margin: 5px;
}