.gcanvas{
	width:1000px;
	margin:0 auto;
}
body
{
  font-size: 1.5em;
}

.menu{
	margin-left:4.7em;
}
.logo{
	width:4.5em;
	height:4.5em;
	position:absolute;
	bottom:0;
	left:0;
	border:solid 1px #222;
	border-radius: 1px;
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, #045499 33%, #045499 67%, rgba(255,0,0,1) 67%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(255,255,255,1)), color-stop(33%, #045499), color-stop(67%, #045499), color-stop(67%, rgba(255,0,0,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, #045499 33%, #045499 67%, rgba(255,0,0,1) 67%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, #045499 33%, #045499 67%, rgba(255,0,0,1) 67%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, #045499 33%, #045499 67%, rgba(255,0,0,1) 67%, rgba(255,0,0,1) 100%);
background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, #045499 33%, #045499 67%, rgba(255,0,0,1) 67%, rgba(255,0,0,1) 100%);
}
.logo a{
	content:'';
	display:block;
	width:4.5em;
	height:4.5em;
	background-image:url(../images/logo.png);
	background-position:center;
	background-repeat:no-repeat;
}
.urls ul, .urls li{
	float:left;
	overflow:auto;
}
.title{
	text-align:center;
	padding:0.5em 0 0 0;
	height:2.5em;	
}
#title_pdd{
    padding-left: 110px;
}
.title a{
	font-size:1.2em;
        padding-left: 4em;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bolder;
	color:#026EB9;
        -webkit-text-stroke: 1px rgba(0,0,0,0.7);
}
.panel{
  margin: 1.5em 0 0 0;
  width:25%;
  float:left;
  border-top:none;
}
.panel_class{
	width:60%;
}
.content{
  float:right;
  width:74%;
  margin:1.5em 0.1em 0 0.3em;
}
